.footer {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.github {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
}