:root {
    --background-start: #eaeae4;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    position: absolute;
    left: 0;
    right: 0;
}

a {
    color: inherit;
    text-decoration: none;
    font-size: larger;
}


header.issticky {
    box-shadow: 0 15px 30px 10px rgba(0, 0, 0, .5);
    background: #d4d3d2;

}

.button_welcome_wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 2rem;
}