.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  background-color: #eaeae4;
  height: 6rem;
  padding: 1rem;
  flex-wrap: wrap;

  transition: all 0.5s;
}


.content {
  text-align: center;
  flex-grow: 1;
  background-color: #eaeae4;
  display: grid;
  place-items: center;
}



.footer {
  height: 4rem;
  padding: 1rem;
  background-color: #eaeae4;
  color: '#010100';
  display: flex;
  align-items: center;
  justify-content: space-around;
}



.layout {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  width: calc(100% - 8px);
  max-width: calc(100% - 8px);
}

.github {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}