.SignIn {
  text-align: center;
  margin: 0 auto;
  padding-top: 50px;
}

.FormContainer {
  width: 280px;
  margin: 0 auto;
  text-align: left;
}

.Form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.Asterisk {
  color: var(--input-asterisk-color, var(--mantine-color-error));
  display: inline-block;
  padding-left: 4px;
}
