.Header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  background-color: var(--background-start);
  padding: 1rem;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  transition: all 0.5s;
}
